* {
  foo:bar;
}

:hover {
    background-color: red;
}

button.small:hover, root { 
    quux: 2.7%;
    foo : #fff;
    col: rgb(255, 241, 235) ;
    bar : -21%; 
    baz: 77 !important;
}

foo   : +10.5px;
bar   : quux;


@print {
    bar : 50px;
}

@import url("foo.bar") ;
